h1{
    color:red;
   
    
}
img{
    width:500px;
    border-radius: 20px;
}
body{
    text-align: center;
    background-color:green;
    background-image: url("0wSUsS.gif");
    display: flex;
    justify-content: center;
}
.cartao{
    background-color: azure;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    border-style: groove;
}
.deck{
    background-color: azure;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    border-style: groove;    
}