h1{
    color:red;
    text-align: center;
    
}
img{
    width:500px;
    border-radius: 20px;
}
body{
    text-align: center;
    background-color:green;
}
.cartao{
    background-color: azure;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    border-style: groove;

}